body{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-3;
}
h1,h2,h3,h4,h5,h6,
.uk-h1,.uk-h2,.uk-h3,.uk-h4,.uk-h5,.uk-h6
{
    font-family: "Helvetica Neue", sans-serif !important;
}
.heading-secondary {
    @extend .uk-text-capitalize;
    &--white{
        color: $color-white;
    }
}
.heading-tertiary{
    margin-bottom: .5rem;

}
.paragraph{
    @extend .uk-text-justify;
}

.divide-line{
    display: block;
    content: "";
    background-color: #333;
    width: 5rem;
    height: 3px;
    margin:20px auto 20px auto;
}
.divide-line--white{
    display: block;
    content: "";
    background-color: #ffffff;
    width: 5rem;
    height: 3px;
    margin:20px auto 20px auto;
}