.image-page-header{
    @extend  .uk-height-large , .uk-flex , .uk-flex-center , .uk-flex-middle , .uk-background-cover , .uk-light;
    height: 60vh;
    position: relative;


}
.page-title__wrapper{
        @extend .uk-position-cover, .uk-flex;
        background: rgba(34, 34, 34, 0.4);
        h1{
            right: 20%;
        }
    }


.product-category {
    &__item {
        &--img {
            transition: all .2s;
            &:hover {
                transform: scale(1.05) translateY(-0.5rem);
                box-shadow: 0 1rem 1rem rgba($color-black, 0.5);
            }
        }
        &--name {
            margin: unset;
            @extend .uk-padding-small, .uk-padding-remove-horizontal;
            a{
                color: inherit;
            }
        }
    }
}
