.contact-details {
@extend .uk-margin-remove-vertical;
}
.contact__social-box {
    @extend .uk-margin-small-top;
    &__contact__social {
        @extend .uk-flex, .uk-flex-row;
        a {
            padding: 0.5rem;
            transition: all 0.3s;
            & span {
                color:$color-grey-dark-3;
            }
        }
    }
}
.image-header{
    @extend .uk-height-medium, .uk-flex, .uk-flex-center, .uk-flex-middle, .uk-background-cover, .uk-light;
    height: 65vh;
}