.header {
    @extend .uk-height-large,
        .uk-flex,
        .uk-flex-center,
        .uk-flex-middle,
        .uk-background-cover,
        .uk-light;
    height: 90vh;
    &--text {
        @extend .uk-padding-large, .uk-padding-remove-vertical;
        display: block;
        width: 35%;
        h1{
            font-size: 2.9375rem;
            letter-spacing: 4px;
        }
        h2{
            font-size: 1.6875rem;
        }
        h1,
        h2 {
            @extend .uk-margin-remove;
            padding-bottom: 0.5rem;
        }
    }    
}

@media only screen and (min-width : 1400px) {
    .header{
        &--text {
            width: 30%;
            h1{
                font-size: 3rem;
                letter-spacing: 4px;
            }
            h2{
                font-size: 1.6875rem;                
            }
        }
    }
}