.section-intro, .section-featured, .section-carousel, .section-form{
    @extend .uk-container,  .uk-padding;
    background-color: $color-white;    
}
section[class^="section"] {
    &:last-child{
        @extend .uk-margin-large-bottom;
    }
    &:not(:last-child){
        @extend .uk-padding-remove-bottom;
    }
  }
.section-title{
    @extend .uk-text-center, .uk-text-uppercase;
    position: relative;
}

.section-content{
    @extend .uk-margin-medium-bottom;
    &__centered{
        @extend .uk-text-center;        
    }
}
.home-product-category{
    @extend  .uk-light;
    &__overlay{
        @extend .uk-overlay-primary, .uk-position-cover;
        background-color: rgba(34, 34, 34, 0.2);
    }
}
.section-bg{
    @extend .uk-container,  .uk-padding;
    background-color: $color-white;    
}