
.first-row .step-first-row, .second-row-step {
    position: relative;
    padding: 1.9rem 1.5rem 1.5rem 1.5rem;
    img{
      height: 80px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  .first-row .step-first-row:nth-child(odd), .second-row .second-row-step:nth-child(even) {
    background: $color-white;
  }
  
  .first-row .step-first-row:nth-child(even), .second-row .second-row-step:nth-child(odd) {
    background: #333;
  }
  
  .first-row .step-first-row {
    .step-title{
      @extend .uk-text-center, .uk-text-lead;
    }
    .step-content{
      @extend .uk-text-center;
    }
    &:nth-child(odd){
      color: #333;
      &:after {
        border-left-color: $color-white !important;
      }
    }

    &:nth-child(even){
      color: $color-white;
      .step-title{
       color: $color-white; 
      }
      &:not(:last-child):after {
        border-left-color: #333 !important;
      }
    }
    &:not(:last-child):after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 30px;
      margin-top: -30px;
      z-index: 1;
    }
    &:last-child:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 30px;
      margin-left: -30px;
      z-index: 1;
      border-color: rgba(51, 51, 51, 0);
      border-top-color: #333; 
    }
  }
  
  .second-row .second-row-step{
    .step-title{
      @extend .uk-text-center, .uk-text-lead;
    }
    .step-content{
      @extend .uk-text-center;
    }
    &:not(:first-child):after{
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 30px;
      margin-top: -30px;
    }
    &:nth-child(odd){
      color: $color-white;
      .step-title{
        color: $color-white; 
       }
      &:after{
        border-right-color: #333 !important;
      }
    }
    &:nth-child(even){
      color: #333;
      &:not(:first-child):after {
        border-right-color: $color-white !important;
      }
    }
  }
  .mobile-step-title{
    @extend .uk-text-center, .uk-text-lead;
  }
  .mobile-step-content{
    @extend .uk-text-center;
  }
  .mobile-odd-wrapper{
    @extend .uk-margin-remove;
    padding: 5px;
    .first {
      padding: 15px;
      background-color: #333;
      color:#fff;
      .mobile-step-title{
        color: #fff;
      }
    }
    
    .second {
      padding: 15px;
      background-color: #fff;
      color: #333;
    }
  }
  .mobile-even-wrapper{
    @extend .uk-margin-remove;
    padding: 5px;
    .first {
      padding: 15px;
      background-color: #fff;
      color: #333;
    }
    
    .second {
      padding: 15px;
      background-color: #333;
      color:#fff;
      .mobile-step-title{
        color: #fff;
      }
    }
  }