.logo-wrapper{
    @extend .uk-container, .uk-text-center;
    background-color: $color-white;
    a img{
        height: 5rem;;
    }
}
.nav-wrapper{    
    @extend .uk-container;
    nav{        
        background-color: $color-white !important;
    }
    .navbar{
        @extend .uk-navbar-container, .uk-navbar;

    }
    .nav-list{
        @extend .uk-navbar-nav;
        &__item{
            &--link{
                font-weight: 500;
                color: $color-grey-dark-3 !important;
            }
            .uk-panel a{
                color:$color-black;
            }
        }
    }
}
