.navigation{
    @extend .uk-navbar-container;
    background-color: $color-white !important;
    .logo-wrapper{
        @extend .uk-navbar-item, .uk-logo;
        img{
            height: 5rem;;
        }
    }
}
// .nav-wrapper{    
//     @extend .uk-container;
//     nav{        
//         background-color: $color-white !important;
//     }
//     .navbar{
//         @extend .uk-navbar-container, .uk-navbar;

//     }
    .nav-list{
        @extend .uk-navbar-nav, .uk-margin-large-left;
        &__item{
            &--link{
                font-weight: 500;
                color: $color-grey-dark-3 !important;
                @extend .uk-text-uppercase;
            }
            .uk-panel a{
                color:$color-black;
            }
        }
    }
.mobile-menu{
    @extend .uk-navbar, .uk-navbar-container;
    background-color: $color-white !important;
    .mobile-logo-wrapper{
        @extend .uk-navbar-item, .uk-logo;
        img{
            height:5rem;
        }
    }
}